/* game board table */

body{
  background-color: black;
  margin:0px;
}

#board {
  margin-left: auto;
  margin-right: auto;
}

#board{
  bottom: 10px;
}


#titleContainer {
  margin: 0px;
  position: relative;
  z-index: 1;
  background-color: black;
  padding-top: 50px;
  padding-bottom: 5px;

  
}

h1 {
  text-align: center;
  font-size: 60px;
  background: -webkit-linear-gradient(#9700cc, #f6019d, #2de2e6, #035ee8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;

  margin-top: auto;
  position: absolute;
  animation-duration: 1s;
  animation-name: dropping-game-piece;

  /* Need to adjust game pieces up or it will sit below the cells*/
  transform: translate(0%, -50%);
  
  /* Make the game piece to appear to fall behind the top row instead of in front*/
  z-index: -1;

}
@keyframes dropping-game-piece {
  from {
    /* height of td * (number of rows on the board) gives us margin top */
    margin-top: -300px;
  }

  to {
    margin-top: 0px;
  }
}



/* TODO: make pieces purple/pink,  depending on player 1/2 piece */
.piece.p1 {
  background-color: #9700cc;
}

.piece.p2 {
  background-color: #f6019d;
}


/* column-top is table row of clickable areas for each column */
#column-top td:hover {
  background-color: #2de2e6;
 
}